@model PizzaBox.Client.Models.SignInViewModel

@{
    Layout = "_Layout";
}

<form asp-action="post" asp-controller="customer" method="POST" asp-antiforgery="true">
    @foreach (var user in Model.Users)
    {
        if (user = Model.User)
        {
            <input type="radio" asp-for="@Model.Users" name="user" value="@user.Name" asp-validation checked />
        }
        else
        {
            <input type="radio" asp-for="@Model.Users" name="user" value="@user.Name" asp-validation />
        }
        <label for="user">@user.Name</label>
    }

    <input type="radio" asp-for="@Model.Users" name="user" id="shownewuser" value="" asp-validation />
    <label for="shownewuser">New User</label>

    <section id="newuser" hidden>
        <h2>New User</h2>

        <label for="username">Name</label>
        <input name="username" id="username" />

        <label for="address">Delivery Address (optional)</label>
        <input name="address" id="address" />
    </section>

    <script>
        document.getElementById("shownewuser").addEventListener('change', function()
            {
                if (document.getElementById("shownewuser").checked)
                {
                    document.getElementById("newuser").hidden = false;
                    document.getElementById("newuser").getElementById("username").required = true;
                }
                else
                {
                    document.getElementById("newuser").hidden = true;
                    document.getElementById("newuser").getElementById("username").required = false;
                }
            }
        );
    </script>
</form>
